{% extends 'base.html' %}

{% block body %}
<form method="POST" action="/register">
    <p>Please fill in below information to start tracking the NZD exchange rate.
    </p>
    <p>
        <label>Value: </label>
        <input type="text" name="value" id="value" placeholder="Exchange rate" autocomplete="off">
    </p>
    <p>
        <label>Email: </label>
        <input type="text" name="email" id="email" placeholder="Email" autocomplete="off">
    </p>
    <p>
        <input type="submit" value="Register">
    </p>
</form>
{% endblock %}